:focus {
    outline: none;
}

.fail {
    color: red;
}
.pass {
    color: green;
}
.running {
    font-weight: bold;
}
.timedout {
    color: brown;
}

 .interrupted .interrupt {
  color:red;
}

iframe {
    width: 0;
    height: 0;
    opacity: 0;
}
